.header-logo {
    background-image: url("https://user-images.githubusercontent.com/12726765/114528756-de55af80-9c7b-11eb-94d7-d3224ada1585.png");
    background-size: 173px 40px;
    height: 40px;
    width: 173px;
}
